/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand h1 {
    margin: 0;
    font-size: 28px;
    color: #fff;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

section p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    font-size: 16px;
}

.services ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 36px;
    }

    nav ul li a {
        font-size: 18px;
    }

    section h2 {
        font-size: 30px;
    }

    section p {
        font-size: 16px;
    }

    footer p {
        font-size: 14px;
    }

    .service-item {
        width: 80%;
    }
}

.about-section {
    position: relative;
    overflow: hidden;
    background-image: url('catering.gif'); /* Replace 'your-background.gif' with your GIF file */
    background-size: cover;
    background-position: center;
    height: 70vh; /* Adjust the height as per your preference */
}

.about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .about-content {
        padding: 20px;
    }

    .about-content h2 {
        font-size: 30px;
    }

    .about-content p {
        font-size: 16px;
    }
}